class {{ table_name }}:
    function index(){

    }
    function lists(){

    }
    function search(){

    }
    function create(){

    }
    function info(){

    }
    function edit(){

    }
    function delete(){

    }