<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/select2.css">
    <link rel="stylesheet" href="assets/css/daterangepicker.css">
    <link rel="stylesheet" href="assets/css/pagination.css" />
    <link rel="stylesheet" href="assets/css/mzui.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/parsley.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/daterangepicker.min.js"></script>
    <script type="text/javascript" src="assets/js/pagination.js"></script>
    <script type="text/javascript" src="assets/js/util.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>

</head>
<body>

    <div class="mz-header">
        <div class="w1240">
            <a href="index.html" class="mz-logo"></a>
            <div class="mz-shortcut">{% for url,title in top.iteritems() %}
                {% if loop.index0 == 1 %}<a class="action i-user">{{ title }}</a>{% endif %}
                {% if loop.index0 == 2 %}<a href="{{ url }}"  title="{{ title }}"  class="action i-charge"></a>{% endif %}
                {% if loop.index0 == 3 %}<a href="{{ url }}"  title="{{ title }}" class="action i-notify"></a>{% endif %}
                {% if loop.index0 == 4 %}<a href="{{ url }}"  title="{{ title }}"  class="action i-help"></a>{% endif %}
                {% if loop.last %}<a href="{{ url }}"  class="btn btn-primary">{{ title }}</a>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
