    <div class="mz-body">
        <div class="mz-body-left">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <ul class="mz-menu">
                        {% for group,items in nav.iteritems() %}
                        <li class="open">
                            <a><span class="i-home"></span>{{ group }}<i></i></a>
                            <ul>
                                {% for url,title in items.iteritems() %}
                                <li><a href="{{ url }}">{{ title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="popmenu">
            <ul class="mz-popmenu">
                {% for url,title in popmenu.iteritems() %}
                <li><a href="{{ url |e }}">{{ title |e }}</a></li>
                {% endfor %}
            </ul>
        </div>