{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome</h1>

        <p class="lead">This is your basic generated site. There are still a lot
            of work to do.</p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Read the docs</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>What's next?</h4>

            <p>Now you can change already created views or write some by yourself.
            Also you can generate all necessary data for your database tables or
            ORM-models if you have connection to database. Check list of available
            plugins for additional features.</p>
        </div>

        <div class="col-lg-6">
            <h4>Still have questions?</h4>

            <p><a href="#">Read the FAQ</a> or <a href="mailto:bmwant@gmail.com">write a mail to developer</a>.</p>

        </div>
    </div>
{% endblock %}