
  <form method="post" id="device_form">
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="device_status">Device Status</label> <input id="device_status" name="device_status" type="text" value=""></p>
    
      <p><label for="environment">Environment</label> <input id="environment" name="environment" type="text" value=""></p>
    
      <p><label for="fqdn">Fqdn</label> <input id="fqdn" name="fqdn" type="text" value=""></p>
    
      <p><label for="logic_area">Logic Area</label> <input id="logic_area" name="logic_area" type="text" value=""></p>
    
      <p><label for="operator">Operator</label> <input id="operator" name="operator" type="text" value=""></p>
    
      <p><label for="rack">Rack</label> <select data-role="chosen" id="rack" name="rack"><option value="1">&lt;model.Rack object at 0x10430f410&gt;</option><option value="2">&lt;model.Rack object at 0x10430f8d0&gt;</option><option value="3">&lt;model.Rack object at 0x10430f5d0&gt;</option></select></p>
    
      <p><label for="remarks">Remarks</label> <input id="remarks" name="remarks" type="text" value=""></p>
    
      <p><label for="room">Room</label> <select data-role="chosenblank" id="room" name="room"><option selected value="__None">----------------</option><option value="1">&lt;model.Room object at 0x10430f590&gt;</option><option value="2">&lt;model.Room object at 0x10430f690&gt;</option><option value="3">&lt;model.Room object at 0x10430f650&gt;</option></select></p>
    
      <p><label for="seat">Seat</label> <input id="seat" name="seat" type="text" value=""></p>
    
      <p><label for="sn">Sn</label> <input id="sn" name="sn" type="text" value=""></p>
    
      <p><label for="template">Template</label> <input id="template" name="template" type="text" value=""></p>
    
      <p><label for="tier">Tier</label> <input id="tier" name="tier" type="text" value=""></p>
    
      <p><label for="uuid">Uuid</label> <input id="uuid" name="uuid" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
