
  <form method="post" id="device_template_form">
    
      <p><label for="cpu">Cpu</label> <input id="cpu" name="cpu" type="text" value=""></p>
    
      <p><label for="cpu_detail">Cpu Detail</label> <textarea id="cpu_detail" name="cpu_detail"></textarea></p>
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="device_height">Device Height</label> <input id="device_height" name="device_height" type="text" value=""></p>
    
      <p><label for="disk">Disk</label> <input id="disk" name="disk" type="text" value=""></p>
    
      <p><label for="disk_detail">Disk Detail</label> <textarea id="disk_detail" name="disk_detail"></textarea></p>
    
      <p><label for="kernel">Kernel</label> <input id="kernel" name="kernel" type="text" value=""></p>
    
      <p><label for="manufacturer">Manufacturer</label> <input id="manufacturer" name="manufacturer" type="text" value=""></p>
    
      <p><label for="memory">Memory</label> <input id="memory" name="memory" type="text" value=""></p>
    
      <p><label for="os">Os</label> <input id="os" name="os" type="text" value=""></p>
    
      <p><label for="price">Price</label> <input id="price" name="price" type="text" value=""></p>
    
      <p><label for="server_type">Server Type</label> <input id="server_type" name="server_type" type="text" value=""></p>
    
      <p><label for="warranty_time">Warranty Time</label> <input id="warranty_time" name="warranty_time" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
