
  <form method="post" id="ip_form">
    
      <p><label for="assets">Assets</label> <input id="assets" name="assets" type="text" value=""></p>
    
      <p><label for="carriers">Carriers</label> <input id="carriers" name="carriers" type="text" value=""></p>
    
      <p><label for="gateway">Gateway</label> <input id="gateway" name="gateway" type="text" value=""></p>
    
      <p><label for="ip">Ip</label> <input id="ip" name="ip" type="text" value=""></p>
    
      <p><label for="netmask">Netmask</label> <input id="netmask" name="netmask" type="text" value=""></p>
    
      <p><label for="segment_ip">Segment Ip</label> <input id="segment_ip" name="segment_ip" type="text" value=""></p>
    
      <p><label for="status">Status</label> <input id="status" name="status" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
