
  <form method="post" id="manufacturer_form">
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="manufacturer">Manufacturer</label> <input id="manufacturer" name="manufacturer" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
