
  <form method="post" id="rack_form">
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="rack">Rack</label> <input id="rack" name="rack" type="text" value=""></p>
    
      <p><label for="room">Room</label> <input id="room" name="room" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
