
  <form method="post" id="room_form">
    
      <p><label for="city">City</label> <input id="city" name="city" type="text" value=""></p>
    
      <p><label for="customer_service">Customer Service</label> <input id="customer_service" name="customer_service" type="text" value=""></p>
    
      <p><label for="email">Email</label> <input id="email" name="email" type="text" value=""></p>
    
      <p><label for="position">Position</label> <input id="position" name="position" type="text" value=""></p>
    
      <p><label for="room_name">Room Name</label> <input id="room_name" name="room_name" type="text" value=""></p>
    
      <p><label for="room_name_en">Room Name En</label> <input id="room_name_en" name="room_name_en" type="text" value=""></p>
    
      <p><label for="tel">Tel</label> <input id="tel" name="tel" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
