
  <form method="post" id="seat_form">
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="rack">Rack</label> <select data-role="chosenblank" id="rack" name="rack"><option selected value="__None">----------------</option><option value="1">&lt;model.Rack object at 0x104309590&gt;</option><option value="2">&lt;model.Rack object at 0x1043098d0&gt;</option><option value="3">&lt;model.Rack object at 0x104309890&gt;</option></select></p>
    
      <p><label for="room">Room</label> <select data-role="chosenblank" id="room" name="room"><option selected value="__None">----------------</option><option value="1">&lt;model.Room object at 0x104309850&gt;</option><option value="2">&lt;model.Room object at 0x1043097d0&gt;</option><option value="3">&lt;model.Room object at 0x104309810&gt;</option></select></p>
    
      <p><label for="seat">Seat</label> <input id="seat" name="seat" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
