
  <form method="post" id="segment_ip_pool_form">
    
      <p><label for="assigned">Assigned</label> <input id="assigned" name="assigned" type="text" value=""></p>
    
      <p><label for="ip">Ip</label> <input id="ip" name="ip" type="text" value=""></p>
    
      <p><label for="segment">Segment</label> <select data-role="chosen" id="segment" name="segment"><option value="1">&lt;model.Segment object at 0x1042e7f10&gt;</option><option value="3">&lt;model.Segment object at 0x1042e7fd0&gt;</option><option value="4">&lt;model.Segment object at 0x1042e7f50&gt;</option></select></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
