
  <form method="post" id="segment_form">
    
      <p><label for="assets">Assets</label> <input id="assets" name="assets" type="text" value=""></p>
    
      <p><label for="assigned">Assigned</label> <input id="assigned" name="assigned" type="text" value=""></p>
    
      <p><label for="carriers">Carriers</label> <input id="carriers" name="carriers" type="text" value=""></p>
    
      <p><label for="gateway">Gateway</label> <input id="gateway" name="gateway" type="text" value=""></p>
    
      <p><label for="ip_type">Ip Type</label> <input id="ip_type" name="ip_type" type="text" value=""></p>
    
      <p><label for="logic_area">Logic Area</label> <input id="logic_area" name="logic_area" type="text" value=""></p>
    
      <p><label for="netmask">Netmask</label> <input id="netmask" name="netmask" type="text" value=""></p>
    
      <p><label for="remarks">Remarks</label> <input id="remarks" name="remarks" type="text" value=""></p>
    
      <p><label for="room">Room</label> <select data-role="chosenblank" id="room" name="room"><option selected value="__None">----------------</option><option value="1">&lt;model.Room object at 0x10430fdd0&gt;</option><option value="2">&lt;model.Room object at 0x10430fe90&gt;</option><option value="3">&lt;model.Room object at 0x10430ffd0&gt;</option></select></p>
    
      <p><label for="segment_ip">Segment Ip</label> <input id="segment_ip" name="segment_ip" type="text" value=""></p>
    
      <p><label for="status">Status</label> <input id="status" name="status" type="text" value=""></p>
    
      <p><label for="total">Total</label> <input id="total" name="total" type="text" value=""></p>
    
      <p><label for="vlan">Vlan</label> <input id="vlan" name="vlan" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
