
  <form method="post" id="server_tag_user_form">
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="server_tag">Server Tag</label> <select data-role="chosenblank" id="server_tag" name="server_tag"><option selected value="__None">----------------</option><option value="15">&lt;model.ServerTag object at 0x1042e7410&gt;</option><option value="16">&lt;model.ServerTag object at 0x1042e7a90&gt;</option><option value="17">&lt;model.ServerTag object at 0x1042e7dd0&gt;</option><option value="18">&lt;model.ServerTag object at 0x1042e7690&gt;</option><option value="19">&lt;model.ServerTag object at 0x10430f0d0&gt;</option><option value="23">&lt;model.ServerTag object at 0x10430f150&gt;</option><option value="24">&lt;model.ServerTag object at 0x10430f350&gt;</option><option value="25">&lt;model.ServerTag object at 0x10430f6d0&gt;</option><option value="27">&lt;model.ServerTag object at 0x10430f2d0&gt;</option><option value="28">&lt;model.ServerTag object at 0x10430f250&gt;</option><option value="29">&lt;model.ServerTag object at 0x10430f1d0&gt;</option></select></p>
    
      <p><label for="uid">Uid</label> <input id="uid" name="uid" type="text" value=""></p>
    
      <p><label for="user_name">User Name</label> <input id="user_name" name="user_name" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
