
  <form method="post" id="server_tag_form">
    
      <p><label for="assets">Assets</label> <select data-role="chosenblank" id="assets" name="assets"><option selected value="__None">----------------</option><option value="1">&lt;model.Device object at 0x104309c10&gt;</option><option value="2">&lt;model.Device object at 0x104309c50&gt;</option><option value="3">&lt;model.Device object at 0x104309690&gt;</option><option value="4">&lt;model.Device object at 0x104309210&gt;</option><option value="5">&lt;model.Device object at 0x104309310&gt;</option></select></p>
    
      <p><label for="create_timestamp">Create Timestamp</label> <input class="date-widget  datetime-widget" id="create_timestamp" name="create_timestamp-date" type="text" value=""><input class="time-widget  datetime-widget" id="create_timestamp" name="create_timestamp-time" type="text" value=""></p>
    
      <p><label for="server_tag_key">Server Tag Key</label> <input id="server_tag_key" name="server_tag_key" type="text" value=""></p>
    
      <p><label for="server_tag_value">Server Tag Value</label> <input id="server_tag_value" name="server_tag_value" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
