
  <form method="post" id="switch_mac_table_form">
    
      <p><label for="interface">Interface</label> <input id="interface" name="interface" type="text" value=""></p>
    
      <p><label for="mac">Mac</label> <input id="mac" name="mac" type="text" value=""></p>
    
      <p><label for="port">Port</label> <input id="port" name="port" type="text" value=""></p>
    
      <p><label for="vlan">Vlan</label> <input id="vlan" name="vlan" type="text" value=""></p>
    
    <p><button type="submit">Submit</button></p>
  </form>
